version: "2"
services:
  spotify:
    image: "extinctpotato/sparrow"
    container_name: "spotify-in-jail"
    restart: unless-stopped
    volumes:
      - ./:/code:ro
      #- ./shared:/shared
      #- ./home:/root
    ports:
      - 5900:5900
    hostname: yellowhat
